<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918802207832-g5ol1337utlvakqpdmdgdib8sq9kaake.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918802207832-g5ol1337utlvakqpdmdgdib8sq9kaake</string>
	<key>API_KEY</key>
	<string>AIzaSyAU1i6ImZCWFvyAxhXE2V67Fe07uQv3P7w</string>
	<key>GCM_SENDER_ID</key>
	<string>918802207832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.incubateQr.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>incubateqr</string>
	<key>STORAGE_BUCKET</key>
	<string>incubateqr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918802207832:ios:94c6d5cc89408f1cc5e62d</string>
</dict>
</plist>